:root {
  --basic-white: #ffffff;
  --basic-background: #849d8f;
  --basic-button: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --basic-text: #323232;

  --special-subscription: #5a5a5a;
  --special-placeholder: #999999;
  --special-formbackground: #f8f7f4;
  --special-sliderbackground1: #8996a6;
  --special-sliderbackground2: #9d8b84;
  --special-submenuhover: #fbdEd7;
  --special-submenuactive: #f6b5a5;
  --special-menuactive: #ededed;
  --special-about-background: #efe8d6;
  --special-menuactiveshadow: #696969;
  --special-menucurrent: #d07058;
  --special-loginbutton: rgba(255, 255, 255, 0.2);
  --special-buttonshadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --special-buttontextshadow: rgba(160, 32, 11, 0.76);
  --special-buttonhover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --special-buttonshadowhover: #ac1000;
  --special-buttonactive: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --special-buttonactiveshadow: #942718;
  --special-bannerraspberry: #4e1821;
  --special-bannerchocolate: #664b3a;
  --special-priceshadow: rgba(49, 50, 53, 0.5);
  --special-addressbackground: #fefefe;
  --special-subscriptioninput: rgba(178, 178, 178, 0.52);
  --special-linkhover: #ffbc9e;
  --specil-linkhover2: #e84d37;
  --specil-formborder: #d3d3d2;
  --special-formfocus: rgba(46, 136, 228, 0.52);
  --special-linkunderline: rgba(255, 188, 158, 0.3);
  --special-itemprice: #ababab;
  --special-site-wrapper-1: rgba(215, 242, 227, 0.75);
  --special-site-wrapper-2: rgba(215, 242, 227, 0.75);
  --special-site-wrapper-3: rgba(215, 242, 227, 0.75);
  --special-sub-navigation: rgba(0, 0, 0, 0.4);
  --special-sub-navigation-title: rgba(50, 50, 50, 0.2);
  --special-modal-link: rgba(50, 50, 50, 0.3);
  --special-user-cart-list: #cacac7;
  --special-item-remove: #2c2829;
  --special-slider-controls: rgba(255, 255, 255, 0.4);
  --special-catalog-item-hover: rgba(0, 0, 0, 0.2);
  --special-range-control: rgba(248, 247, 244, 0.5);
  --special-toggles: #cfcfcf;
  --special-social-svg: rgba(255, 255, 255, 0.5);
  --special-modal-close: #231f20;
}

/* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: var(--basic-white);
  background-color: var(--basic-background);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
.page {
  height: 100%;
}

.page-body {
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.site-wrapper {
  background-repeat: no-repeat;
  background-position: top 83px center;
}

.site-wrapper-1 {
  background: url("../img/slide-image-1.png"),
  radial-gradient(circle closest-side at center 358px, var(--special-site-wrapper-1), transparent),
  var(--basic-background);
  background-repeat: no-repeat;
  background-position: top 83px center;
}

.site-wrapper-2 {
  background: url("../img/slide-image-2.png"),
  radial-gradient(circle closest-side at center 358px, var(--special-site-wrapper-2), transparent),
  var(--special-sliderbackground1);
  background-repeat: no-repeat;
  background-position: top 83px center;
}

.site-wrapper-3 {
  background: url("../img/slide-image-3.png"),
  radial-gradient(circle closest-side at center 358px, var(--special-site-wrapper-3), transparent),
  var(--special-sliderbackground2);
  background-repeat: no-repeat;
  background-position: top 83px center;
}

/* Container  */
.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.page-catalog {
  margin-top: -26px;
}

/* Main-header */
.main-header {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr -webkit-min-content;
  grid-template-rows: 1fr min-content;
}

.button {
  padding: 10px 1.25em;
  font: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background: var(--basic-button);
  box-shadow: var(--special-buttonshadow);
  border: none;
  border-radius: 70px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: var(--special-buttonhover);
  box-shadow: 0px 2px 2px var(--special-buttonshadowhover);
  outline: none;
}

.button:active {
  background: var(--special-buttonactive);
  box-shadow: var(--special-buttonactiveshadow);
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 13px;
}

/* Main navigation */
.main-navigation {
  margin-top: 9px;
  display: grid;
  grid-template-columns: auto 1fr;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.site-navigation {
  margin: 0;
  padding: 0;
  margin-top: 11px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.site-navigation-item {
  margin-right: 6px;
}

.site-navigation > li {
  position: relative;
}

.site-navigation-link {
  position: relative;
  display: block;
  padding-top: 8px;
  padding-left: 13px;
  padding-right: 13px;
  color: var(--basic-white);
}

.site-navigation-link:not(.site-navigation-current)::after {
  position: absolute;
  content: "";
  top: 26px;
  left: 13px;
  width: calc(100% - 26px);
  height: 1px;
  background-color: var(--special-loginbutton);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation-current > a {
  padding-top: 7px;
  padding-bottom: 8px;
  background-color: var(--special-menucurrent);
  border-radius: 26px;
}

.site-navigation-current a:hover:not(.sub-navigation a) {
  color: var(--basic-white);
  background-color: var(--special-menucurrent);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  padding-bottom: 8px;
  color: var(--basic-text);
  background-color: var(--basic-white);
  border-radius: 26px;
  outline: none;
}

.site-navigation-link:active {
  background-color: var(--special-menuactive);
  box-shadow: inset 0px 2px 1px var(--special-menuactiveshadow);
}

.sub-navigation {
  position: absolute;
  width: 143px;
  top: 38px;
  left: -9px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--basic-white);
  border-radius: 4px;
  box-shadow: 0px 20px 20px var(--special-sub-navigation);
  display: none;
  z-index: 3;
}

.site-navigation > li:focus-within .sub-navigation {
  display: block;
}

.site-navigation > li:hover .sub-navigation {
  display: block;
}

.sub-navigation-link {
  display: block;
  margin-bottom: 5px;
  padding-left: 21px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-text);
}

.sub-navigation-title {
  position: relative;
  display: block;
  padding-left: 21px;
  padding-top: 10px;
  padding-bottom: 17px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-text);
}

.sub-navigation-title::after {
  position: absolute;
  content: "";
  top: 37px;
  left: 6px;
  width: 128px;
  height: 1px;
  background-color: var(--special-sub-navigation-title);
}

.sub-navigation-current {
  color: var(--basic-white);
  background-color: var(--special-menucurrent);
}

.sub-navigation-link:hover:not(.sub-navigation-current),
.sub-navigation-link:focus:not(.sub-navigation-current) {
  background-color: var(--special-submenuhover);
  border-radius: 0;
  outline: none;
}

.sub-navigation-link:active {
  background-color: var(--special-submenuactive);
  box-shadow: none;
  border-radius: 0;
}

.sub-navigation-current:hover,
.sub-navigation-current:focus {
  color: var(--basic-white);
}

/* User navigation */
.user-navigation {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

/* Search */
.header-search-wrapper {
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-color: var(--special-loginbutton);
  border-radius: 50%;
}

.header-search-wrapper:focus-within .header-search-cover {
  display: block;
}

.header-search-wrapper:hover .header-search-cover {
  display: block;
}

.header-search-wrapper::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 8px;
  left: 8px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.header-search-wrapper:hover::before,
.header-search-wrapper:focus::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 8px;
  left: 8px;
  background-image: url("../img/icon-search-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.header-search-wrapper:hover,
.header-search-wrapper:focus {
  background-color: var(--basic-white);
}

.header-search-cover {
  position: absolute;
  width: 341px;
  height: 120px;
  padding-top: 36px;
  top: 0;
  left: -310px;
  background-color: transparent;
  display: none;
}

.header-search {
  width: 341px;
  height: 84px;
  background-color: var(--special-formbackground);
  border-radius: 4px;
  box-shadow: 0px 20px 20px var(--special-sub-navigation);
}

.header-search input {
  box-sizing: border-box;
  width: 311px;
  margin-top: 19px;
  margin-left: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 11px;
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  color: var(--special-placeholder);
  border: 1px solid var(--specil-formborder);
  border-radius: 4px;
}

.header-search input:hover {
  box-shadow: inset 2px 2px 0 0 var(--special-subscriptioninput),
               inset -2px -2px 0 0 var(--special-subscriptioninput);
}

.header-search input:focus {
  box-shadow: inset 2px 2px 0 0 var(--special-formfocus),
               inset -2px -2px 0 0 var(--special-formfocus);
  outline: none;
}

/* Login/Cart */
.user-button {
  position: relative;
  padding-left: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  font: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border: none;
  color: var(--basic-white);
  background-color: var(--special-loginbutton);
  border-radius: 20px;
  cursor: pointer;
}

.header-login-wrapper:focus-within .modal-account-wrapper {
  display: block;
}

.header-login-wrapper {
  position: relative;
}

.header-login-wrapper:focus {
  outline: none;
}

.modal-account-wrapper {
  position: absolute;
  width: 277px;
  height: 250px;
  padding-top: 35px;
  top: 0;
  right: 11px;
  background-color: transparent;
  display: none;
  z-index: 20;
}

.modal-account {
  box-sizing: border-box;
  width: 277px;
  padding-top: 20px;
  padding-left: 19px;
  padding-right: 16px;
  min-height: 214px;
  color: var(--basic-text);
  background-color: var(--special-formbackground);
  box-shadow: 0px 20px 20px var(--special-sub-navigation);
  border-radius: 4px;
}

.header-login-wrapper:hover .modal-account-wrapper {
  display: block;
}

.account-form p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.modal-link-wrapper {
  position: absolute;
  right: 16px;
  top: 186px;
}

.modal-link {
  display: block;
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-text);
}

.modal-link span {
  border-bottom: 1px solid var(--special-modal-link);
}

.modal-link:hover,
.modal-link:focus,
.modal-link:active {
  color: var(--specil-linkhover2);
}

.account-form input {
  box-sizing: border-box;
  width: 241px;
  height: 44px;
  padding-left: 15px;
  font: inherit;
  color: var(--basic-text);
  border: 1px solid var(--specil-formborder);
}

.account-form input:hover {
  box-shadow: inset 2px 2px 0 0 var(--special-subscriptioninput),
              inset -2px -2px 0 0 var(--special-subscriptioninput);
}

.account-form input:focus {
  box-shadow: inset 2px 2px 0 0 var(--special-formfocus),
              inset -2px -2px 0 0 var(--special-formfocus);
  outline: none;
}

.account-button {
  padding: 13px 26px;
  line-height: 16px;
  border-radius: 26px;
}

.header-login {
  margin-right: 10px;
}

.header-login:hover,
.header-login:focus {
  color: var(--basic-text);
  background-color: var(--basic-white);
  outline: none;
}

.header-login-wrapper:focus .header-login {
  color: var(--basic-text);
  background-color: var(--basic-white);
  outline: none;
}

.header-login::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 19px;
  left: 16px;
  top: 6px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-login:hover::before,
.header-login:focus::before,
.header-login-wrapper:focus .header-login::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 19px;
  left: 16px;
  top: 6px;
  background-image: url("../img/icon-login-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-cart::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 20px;
  left: 16px;
  top: 6px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-cart-full {
  position: relative;
  color: var(--basic-text);
  background-color: var(--basic-white);
}

.header-cart-wrapper {
  position: relative;
}

/* User-cart */
.modal-user-cart {
  width: 539px;
  color: var(--basic-text);
  background-color: var(--special-formbackground);
  box-shadow: 0px 20px 20px var(--special-sub-navigation);
  border-radius: 4px;
}

.user-cart-wrapper {
  position: absolute;
  width: 539px;
  padding-top: 36px;
  top: 0;
  right: 0px;
  background-color: transparent;
  display: none;
  z-index: 10;
}

.modal-user-cart-wrapper {
  display: flex;
  flex-direction: column;
}

.user-cart-list {
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: 21px;
  margin-right: 34px;
  margin-top: 20px;
  list-style: none;
}

.user-cart-list::after {
  position: absolute;
  content: "";
  bottom: 4px;;
  left: -6px;
  width: 510px;
  height: 1px;
  background-color: var(--special-user-cart-list);
}

.user-cart-item {
  margin-bottom: 20px;
  position: relative;
  display: flex;
}

.item-remove {
  position: absolute;
  top: 10px;
  left: 0;
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.item-remove::before,
.item-remove::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 1px;
  background-color: var(--special-item-remove);
}

.item-remove::before {
  transform: rotate(45deg);
}

.item-remove::after {
  transform: rotate(-45deg);
}

.cart-item-title {
  width: 216px;
  margin: 0;
  padding: 0;
  margin-left: 13px;
  margin-right: 31px;
  padding-top: 9px;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.user-cart-item img {
  margin-left: 20px;
  width: 33px;
  height: 33px;
}

.cart-item-price,
.cart-item-total-price {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  font-size: 13px;
  line-height: 16px;
}

.cart-item-price {
  margin-right: 26px;
}

.cart-item-price span {
  color: var(--special-itemprice);
}

.user-cart-total-price {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 14px;
  margin-bottom: 15px;
  margin-top: 13px;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
}

.user-cart-button {
  margin-left: auto;
  margin-right: 14px;
  margin-bottom: 21px;
  padding: 10px 15px;
}

.header-cart-wrapper:focus-within .user-cart-wrapper {
  display: block;
}

.header-cart-wrapper:hover .user-cart-wrapper {
  display: block;
}

.header-cart-full::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 20px;
  left: 16px;
  top: 6px;
  background-image: url("../img/icon-cart-full.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contact-wrapper {
  grid-column: 2 / -1;
  text-align: right;
}

/* Opening/tel */
.header-opening {
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.header-tel {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

/* Slider */
.slider {
  position: relative;
  padding-top: 274px;
  padding-bottom: 52px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  display: flex;
  width: 79px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls button:hover,
.slider-controls button:focus {
  background-color: var(--special-slider-controls);
  outline: none;
}

.slider-controls button:active {
  background-color: var(--basic-white);
}

.slider-controls .current {
  background-color: var(--basic-white);
}

.slider-item {
  text-align: center;
  display: none;
}

.slide-current {
  display: block;
}

.slide-title {
  margin: 0 auto;
  margin-bottom: 33px;
  width: 672px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.slide-button {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 23px;
  padding-right: 23px;
  margin-right: 15px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 5px var(--special-buttontextshadow);
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  width: 880px;
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  display: block;
  position: relative;
  margin-right: 22px;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  border-bottom: 1px solid var(--special-loginbutton);
}

.breadcrumbs a::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 4px;
  left: 60px;
  background-image: url("../img/icon-next.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: var(--special-linkhover);
  border-bottom: 1px solid var(--special-linkunderline);
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
}

.page-title {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}


/* Banners */
.banners {
  margin-bottom: 20px;
}

.banners-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 26px;
       column-gap: 26px;
  list-style: none;
}

.banners-item  {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% 100%;
  border-radius: 16px;
}

.banners-item-raspberry {
  background-image: url("../img/raspberry-background.jpg");
  background-color: var(--special-bannerraspberry);
}

.banners-item-chocolate {
  background-image: url("../img/chocolate-background.jpg");
  background-color: var(--special-bannerchocolate);
}

.banner-title {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.banner-description {
  margin: 0;
  margin-bottom: 42px;
  font-weight: bold;
  font-size: 18px;
}

.banner-button {
  align-self: flex-end;
  margin-right: -8px;
  margin-bottom: 22px;
  padding: 12px 22px;
  text-shadow: 0px 2px 5px var(--special-buttontextshadow);
}

/* Catalog/Hits */
.hits {
  margin-bottom: 5px;
}
.catalog-list,
.hits-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 26px;
       column-gap: 26px;
  list-style: none;
}

.hits-item {
  margin-bottom: 35px;
}

.catalog-item,
.hits-item {
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 320px;
  color: var(--basic-white);
  cursor: pointer;
  z-index: 30;
}

.hits-item::before {
  position: absolute;
  content: "";
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;
  background-image: url("../img/icon-hit.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 13;
}

.hits-image,
.catalog-image {
  width: 267px;
  height: 267px;
  margin-bottom: 7px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  z-index: 10;
}

.catalog-list {
  margin-bottom: 76px;
  row-gap: 36px;
}

.hits-price,
.catalog-price {
  position: absolute;
  top: 209px;
  left: 0;
  margin: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px var(--special-priceshadow);
  z-index: 11;
}

.hits-price span,
.catalog-price span {
  font-size: 30px;
  line-height: 35px;
}

.hits-title,
.catalog-title {
  margin: 0;
  padding: 0;
  margin-top: 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
  text-align: center;
  box-shadow: inset 0 -1px var(--special-loginbutton);
  z-index: 25;
}

.hits-button,
.catalog-button {
  margin-bottom: 21px;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 1;
}

.catalog-item-hover {
  position: absolute;
  top: -6px;
  left: -13px;
  width: 110%;
  height: calc(100% + 80px);
  background-color: var(--special-loginbutton);
  box-shadow: 0px 20px 20px var(--special-catalog-item-hover);
  border-radius: 4px;
  z-index: -1;
  display: none;
}

.catalog-item:hover,
.hits-item:hover,
.catalog-item:focus-within,
.hits-item:focus-within {
  z-index: 31;
}

.hits-item:hover .catalog-item-hover,
.catalog-item:hover .catalog-item-hover,
.catalog-item:focus-within .catalog-item-hover,
.hits-item:focus-within .catalog-item-hover {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: -2;
}

/* Pagination */
.pagination-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--special-loginbutton);
  list-style: none;
}

.pagination-item a {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  padding-top: 3px;
  margin-right: 4px;
  text-align: center;
  color: var(--basic-white);
  border-radius: 50%;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--special-loginbutton);
}

.pagination-item a:active {
  color: var(--basic-text);
  background-color: var(--basic-white);
}

.pagination-item-current a {
  color: var(--basic-text);
  background-color: var(--basic-white);
}

.pagination-item-next a {
  width: 7px;
  height: 26px;
  margin-right: 0;
  margin-left: 14px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.pagination-item-previous a {
  width: 7px;
  height: 26px;
  margin-right: 16px;
  background-image: url("../img/icon-left-small.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.pagination-item a:not(.pagination-item-next a, .pagination-item-previous a):hover,
.pagination-item a:not(.pagination-item-next a, .pagination-item-previous a):focus {
  background-color: var(--special-loginbutton);
}

.pagination-item a:not(.pagination-item-next a, .pagination-item-previous a):active {
  color: var(--basic-text);
  background-color: var(--basic-white);
}

.pagination-item-next a:hover,
.pagination-item-next a:focus,
.pagination-item-previous a:hover,
.pagination-item-previous a:focus {
  background-color: transparent;
}

/* About */
.about {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 23px;
  padding-top: 23px;
  padding-bottom: 31px;
  background-color: var(--special-about-background);
  background-image: url("../img/pattern-vaffle.png");
  background-repeat: repeat;
  background-position: 0 0;
  border-radius: 15px;
}

.about-title {
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-text);
}

.about-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 26px;
       column-gap: 26px;
  row-gap: 9px;
  list-style: none;
}

.about-item {
  position: relative;
  padding-left: 55px;
  padding-top: 11px;
  color: var(--basic-text);
}

.about-item-ice-cream::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: 1px;
  left: 0;
  background-image: url("../img/icon-ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-item-leaf::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: 3px;
  left: 0;
  background-image: url("../img/icon-leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-item-cow::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: 1px;
  left: 2px;
  background-image: url("../img/icon-cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-item-thermo::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: 3px;
  left: 2px;
  background-image: url("../img/icon-thermo.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* News */
.index-columns {
  min-height: 220px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 26px;
       column-gap: 26px;
}

.news {
  padding-top: 19px;
  padding-left: 20px;
  padding-right: 250px;
  padding-bottom: 20px;
  background-image: url("../img/strawberry-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: var(--basic-white);
  border-radius: 16px;
}

.news-title {
  margin: 0;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-text);
}

.news-content {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-text);
  text-decoration: underline;
}

.news-content:hover,
.news-content:focus,
.news-content:active {
  color: var(--specil-linkhover2);
  outline: none;
}

/* Subscription */
.subscription {
  background-image: url("../img/mail-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 16px;
}

.subscription-wrapper {
  box-sizing: border-box;
  width: 548px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 16px;
  background-color: var(--special-formbackground);
  border-radius: 16px;
}

.subscription-text {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-bottom: 40px;
  color: var(--special-subscription);
}

.subscription-button {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 6px;
  padding-left: 17px;
  padding-right: 22px;
  text-shadow: 0px 2px 5px var(--special-buttontextshadow);
}

.subscription-form input {
  box-sizing: border-box;
  width: 368px;
  margin-bottom: 35px;
  padding-left: 14px;
  padding-top: 11px;
  padding-bottom: 9px;
  font: inherit;
  color: var(--basic-text);
  border: 1px solid var(--special-subscriptioninput);
  border-radius: 6px;
}

.subscription-form input:hover {
  box-shadow: inset 2px 2px 0 0 var(--special-subscriptioninput),
              inset -2px -2px 0 0 var(--special-subscriptioninput);
}

.subscription-form input:focus {
  box-shadow: inset 2px 2px 0 0 var(--special-formfocus),
              inset -2px -2px 0 0 var(--special-formfocus);
  outline: none;
}

/* Address */
.address {
  position: relative;
  min-width: 1200px;
  color: var(--basic-text);
}

.address-wrapper {
  box-sizing: border-box;
  position: absolute;
  top: 62px;
  left: 50%;
  margin-left: 270px;
  width: 303px;
  min-height: 306px;
  padding-left: 25px;
  padding-top: 30px;
  background-color: var(--special-addressbackground);
  border-radius: 16px;
}

.address-title {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.address-text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.address-order {
  margin: 0;
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 20px;
}

.address-tel {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-text);
}

.address-opening {
  margin: 0;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 20px;
}

.address-button {
  padding-top: 9px;
  padding-bottom: 12px;
  padding-left: 28px;
  padding-right: 29px;
  text-shadow: 0px 2px 5px var(--special-buttontextshadow);
}

.address iframe {
  width: 100%;
  border: none;
}

.address-image {
  display: block;
  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -600px;
  z-index: -1;
}

/* Filters */
.filter {
  margin-bottom: 25px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  width: 885px;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
  margin-right: 15px;
  border: none;
  margin-bottom: 14px;
}

.filter-form legend {
  margin-left: 17px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-form .filling-legend {
  margin-bottom: 9px;
}

.filter-form ul {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.sorting {
  position: relative;
  width: 196px;
}

.filter-sorting {
  display: block;
  width: 100%;
  height: 36px;
  padding-left: 16px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--special-loginbutton);
  border: none;
  border-radius: 20px;
}

.sorting::after {
  position: absolute;
  content: "";
  width: 11px;
  height: 10px;
  bottom: 13px;
  right: 14px;
  background-image: url("../img/icon-down.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting:hover::after,
.sorting:focus::after,
.sorting:active::after {
  background-image: url("../img/icon-down-active.svg");
}

.filter-sorting-option {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-text);
}

.filter-sorting:hover,
.filter-sorting:focus {
  color: var(--basic-text);
}

.price {
  width: 218px;
}

.range-filter {
  position: relative;
  box-sizing: border-box;
  height: 36px;
  padding-top: 16px;
  padding-left: 21px;
  padding-right: 21px;
  background-color: var(--special-loginbutton);
  border-radius: 20px;
}

.price-controls {
  position: absolute;
  top: -25px;
  left: 57px;
}

.scale {
  width: 176px;
  height: 2px;
  background-color: var(--special-range-control);
}

.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.price-controls input {
  width: 24px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: inherit;
  border: none;
  color: var(--basic-white);
}

.price-controls label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.bar {
  width: 55%;
  height: 2px;
  margin-left: 20px;
  background-color: var(--basic-white);
}

.toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--special-itemprice);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--special-toggles);
  cursor: pointer;
}

.toggle-min {
  left: 35px;
}

.toggle-max {
  left: 133px;
}

.fat {
  width: 425px;
}

.fat-list {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 8px;
  display: flex;
  background-color: var(--special-loginbutton);
  border-radius: 20px;
}

.filter-radio {
  padding-left: 52px;
}

.filter-radio:first-child {
  padding-left: 46px;
}

.filter-option label {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -3px;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
  opacity: 1;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -3px;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-radio:checked + label:hover::before,
.filter-input-radio:checked + label:focus::before {
  opacity: 1;
}

.filter-input-radio:disabled + label::before {
  opacity: 0.6;
}

.filling {
  width: 711px;
}

.filling-list {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 19px;
  display: flex;
  background-color: var(--special-loginbutton);
  border-radius: 20px;
}

.filter-option-checkbox {
  margin-right: 20px;
  padding-left: 32px;
}

.filter-option-checkbox:last-child {
  margin-right: 0;
}

.filter-option-checkbox:nth-child(2) {
  margin-right: 22px;
}

.filter-option-checkbox:nth-child(3) {
  padding-left: 36px;
}

.filter-option-checkbox:nth-child(4) {
  padding-left: 38px;
}

.filter-option-checkbox label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 24px;
  height: 20px;
  background-image: url("../img/icon-checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before {
  opacity: 1;
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox:checked + label:focus::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.6;
}

.filter-input:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-input:disabled + label,
.filter-input:checked:disabled + label,
.filter-input:disabled:hover + label,
.filter-input:disabled:focus + label {
  opacity: 0.6;
  pointer-events: none;
}

.filter-button {
  box-sizing: border-box;
  align-self: center;
  margin-top: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 27px;
  padding-right: 28px;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background: var(--special-loginbutton);
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--basic-text);
  background-color: var(--basic-white);
}

.filter-button:active {
  box-shadow: inset 0px 2px 1px var(--special-menuactiveshadow);
}

/* Footer */

.main-footer {
  margin-top: 13px;
  margin-bottom: 25px;
  padding-left: 29px;
  padding-right: 27px;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.inner-footer {
  margin-top: 18px;
}

.footer-socials {
  width: 172px;
  margin: 0;
  margin-top: 15px;
}

.footer-socials-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-socials-list li {
  margin-right: 7px;
}

.footer-socials-list li:last-child {
  margin-right: 0;
}

.social-button svg {
  width: 32px;
  height: 32px;
  border: 2px solid var(--special-social-svg);
  border-radius: 50%;
}

.social-button:active svg {
  border: 2px solid var(--basic-white);
}

.facebook-icon:hover path,
.facebook-icon:focus path,
.vk-icon:hover path,
.vk-icon:focus path,
.twitter-icon:hover path,
.twitter-icon:focus path {
  fill-opacity: 1;
}

.instagram-icon:hover g,
.instagram-icon:focus g {
  opacity: 1;
}

.facebook-icon:active path {
  stroke-opacity: 1;
}

.info {
  justify-self: center;
}

.info-list {
  margin: 0;
  padding: 0;
  margin-top: 11px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

.info-item:nth-child(odd) {
  padding-left: 23px;
}

.info-item:nth-child(even) {
  padding-left: 2px;
}

.info-item {
  position: relative;
}

.info-item-liked::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  top: 7px;
  left: 0;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.info-link {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
  border-bottom: 1px solid var(--special-loginbutton);
}

.info-link-supplier {
  font-weight: bold;
}

.info-link:hover,
.info-link:focus,
.info-link:active {
  color: var(--special-linkhover);
  border-bottom: 1px solid var(--special-linkunderline);
  outline: none;
}

.copyright {
  max-width: 200px;
  margin: 0;
  justify-self: end;
}

.copyright-text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

.copyright-text a {
  color: var(--basic-white);
}

.copyright-text span {
  text-decoration: underline;
}

/* Modal */
.modal {
  position: fixed;
  margin: auto;
  color: var(--basic-text);
  background-color: var(--special-formbackground);
  box-shadow: 0px 20px 20px var(--special-sub-navigation);
  border-radius: 4px;
  z-index: 40;
  display: none;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-feedback {
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: auto;
  width: 477px;
  padding-top: 15px;
  padding-left: 23px;
  border-radius: 6px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.modal-close {
  position: absolute;
  top: 13px;
  right: 20px;
  width: 18px;
  height: 17px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 23px;
  height: 2px;
  background-color: var(--special-modal-close);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.feedback-form-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.feedback-form p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.feedback-form input,
.feedback-form textarea {
  box-sizing: border-box;
  width: 268px;
  padding-left: 14px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-size: 16px;
  line-height: 20px;
  font: inherit;
  border: 1px solid var(--special-subscriptioninput);
  border-radius: 4px;
}

.feedback-form textarea {
  width: 428px;
}

.feedback-form input::-webkit-input-placeholder, .feedback-form textarea::-webkit-input-placeholder {
  color: var(--special-placeholder);
}

.feedback-form input::-moz-placeholder, .feedback-form textarea::-moz-placeholder {
  color: var(--special-placeholder);
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  color: var(--special-placeholder);
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  box-shadow: inset 2px 2px 0 0 var(--special-subscriptioninput),
              inset -2px -2px 0 0 var(--special-subscriptioninput);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  box-shadow: inset 2px 2px 0 0 var(--special-formfocus),
              inset -2px -2px 0 0 var(--special-formfocus);
  outline: none;
}

.feedback-button {
  align-self: flex-end;
  margin-bottom: 27px;
  margin-right: 25px;
  padding-left: 25px;
  padding-right: 24px;
  text-shadow: 0px 2px 5px var(--special-buttontextshadow);
}

/* Animations */

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-50%, -2000px);
  }

  70% {
    transform: translate(-50%, -40%);
  }

  90% {
    transform: translate(-50%, -55%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-50%, -2000px);
  }

  70% {
    transform: translate(-50%, -40%);
  }

  90% {
    transform: translate(-50%, -55%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-51%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-49%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-51%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-49%, -50%);
  }
}
