@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); 
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), 
         url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), 
         url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); 
  }
 
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); 
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), 
         url('../fonts/roboto-v20-latin_cyrillic-700.ttf') format('truetype'), 
         url('../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg'); 
  }

:root {
   --basic-white: #ffffff;
   --basic-black: #323232;
   --basic-grey: #849d8f;
   --basic-light: #f8f7f4;
   --basic-extra-light: #fefefe;
   --basic-extra-white: #fbfcfb;
}

.list-styles-reset {
    margin: 0;

}

.page {
    width: 100%;
    height: 100%;
}

.main-header {
    margin-bottom: 70px;
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
}

.page-body { 
    min-height: 100%;
    font-family: Roboto;
    font-weight: normal;
    background: var(--basic-grey);
    color: var(--basic-white);
}

.page-body-catalog {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}

/*header flex*/
.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container {
    width: 1146px;
    margin-top: 9px;
}

.main-navigation-wrapper {
    display: flex;
}

.user-navigation {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin-left: auto;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 357px;
    margin-left: 27px;
    margin-right: 367px;
    margin-top: 23px;
  }

.main-header-logo {
    display: flex;
    margin-left: 27px;
    margin-top: 9px;
  /*background: var(--basic-extra-white);*/
}

.main-header-bar {
    background-color: var(--basic-grey);
}


.site-navigation {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;  
}

.site-navigation-mini {
    font-size: 14px;
    line-height: 16px;
}

.login-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.work-time {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.header-contacts-phone-main {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
}

.main-title-picture {
    text-align: center;
}

.button {
    text-align: center;
}

.page-title-catalog {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

.filter {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.filter-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
}

.button {
  width: 164px;
  border-radius: 70px;
  font-weight: 700;
  font-size: 32px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.sale-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
}

.raspberry-title {
    text-align: left;
    margin-left: 16px;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

.raspberry {
    display: flex;
    flex-direction: column;
    width: 560px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.chokolate-title {
    text-align: left;
    margin-left: 16px;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

.chocolate {
    display: flex;
    flex-direction: column;
    width: 560px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.button-sale {
    display: flex;
    width: 164px;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
}

.hits {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.hits-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.pagination {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-left: 20px;
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    /****Picture****
    background: url();****/
    color: var(--basic-black);
    outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-black);
    text-align: left;
}

.features-item {
    display: flex;
    width: 50%;
    margin-bottom: auto;
}

.container-news-mail {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    outline: 5px solid rgba(255, 0, 21, 0.863);
    outline-offset: -5px;
}

.news {
    display: flex;
    width: 560px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /****Picture****
    background: url();****/
    color: var(--basic-black);
}

.news-item {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-black);
}

.mailing {
    display: flex;
    width: 560px;
    margin-left: 32px;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    background: var(--basic-light);
    color: var(--basic-black);
}

.contacts {
    font-size: 14px;
    line-height: 20px;
    background: var(--basic-extra-light);
    color: var(--basic-black);
}

.page-footer { 
    display: flex;
    font-size: 13px;
    line-height: 18px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    margin-left: 29px;
    margin-bottom: 35px;
    background: rgba(255, 255, 255, 0.8);
}

.footer-info {
    display: flex;
    justify-content: space-between;
    margin-left: 256px;
    margin-bottom: 32px;
}

.footer-logo {
    display: flex;
    margin-left: 286px;
    margin-bottom: 26px;
}