@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); 
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), 
         url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), 
         url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); 
  }
 
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); 
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), 
         url('../fonts/roboto-v20-latin_cyrillic-700.ttf') format('truetype'), 
         url('../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg'); 
  }

:root {
   --basic-white: #ffffff;
   --basic-black: #323232;
   --basic-grey: #849d8f;
   --basic-light: #f8f7f4;
   --basic-extra-light: #fefefe;
   --basic-extra-white: #fbfcfb;
}

.list-styles-reset {
    margin: 0;
    padding: 0; 
    list-style: none;
}

a {
    color: var(--basic-white);
    text-decoration: none;
}

.page {
    width: 100%;
    height: 100%;
}

.main-header {
    margin-bottom: 70px;
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
}

.page-body { 
    min-height: 100%;
    font-family: Roboto Arial;
    font-weight: normal;
    margin-left: 27px;
    margin-right: 27px;
    margin: 0;
    background: var(--basic-grey);
    color: var(--basic-white);
}

.page-title-catalog {
    display: flex;
    align-items: flex-end;
    font-size: 35px;
    line-height: 41px;
}

/*header flex*/
.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container {
    width: 1146px;
    margin-top: 9px;
}

.container-catalog {
    width: 1146px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-navigation-wrapper {
    display: flex;
}

.user-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 23px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

   /* outline: 5px solid #ff0000;*/
}

.user-navigation .login-link {
    padding-left: 50px;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    position: relative;
}
  
.site-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    width: 357px;
    margin-left: 24px;
    margin-right: 367px;
    margin-top: 23px;
    font-weight: 700;

   /* outline: 5px solid #ff0000;*/
  }

.site-navigation a,
.user-navigation a {
    color: var(--basic-white);
    display: block;
}

.main-header-logo {
    display: flex;
    margin-left: 27px;
    margin-top: 9px;
    /*background: var(--basic-extra-white);*/
}

.main-header-bar {
    background-color: var(--basic-grey);
}


.site-navigation {
    margin-top: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;  
}

.site-navigation-mini {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
}

.login-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.login-link.exit::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 20px;
    height: 19px;
    background-image: url('../img/exit.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}


.login-link.basket::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 20px;
    height: 19px;
    background-image: url('../img/basket.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-link.search::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket {
    margin-left: 10px;
}


.work-time {
    text-align: right;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-top: 20px;
    margin-right: 27px;
}

.header-contacts-phone-main {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
}

.main-title-picture {
    text-align: center;
}

.slider {
    position: relative;
    padding-top: 321px;
    text-align: center;
    color: #ffffff;
    background-image: url('../img/icecream1.png');
    background-position: center;
    background-repeat: no-repeat;

}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
}

.button-main {
    display: inline-block;
    padding: 12px 44px;
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843, #e74a35);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
    margin-bottom: 41px;
}

.button-main:hover {
    background: linear-gradient(to bottom, #f58669, #ec6f5e);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
  
.button-main:active {
    background: linear-gradient(to bottom, #d84732, #e1613e);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
    position: absolute;
    bottom: 63px;
    left: 0;
    z-index: 20;
    display: flex;
    width: 67px;
    justify-content: space-between;
}

.slide {
    display: none;
}
  
.slide-current {
    display: block;
}

.slider-controls button {
    padding: 0;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.site-wrapper {
    background-image: url('../img/icecream2.png');
    background-position: center;
    background-repeat: no-repeat;
}

.slider-controls .current {
    background-color: #ffffff;
}

.page-title-catalog {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

.filter-container {
    display: flex;
    text-align: left;
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;

}

.filter {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.filter-list {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
}

.button {
  width: 164px;
  border-radius: 70px;
  font-weight: 700;
  font-size: 32px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.sale-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 112px;
}

.raspberry-title {
    text-align: left;
    margin-left: 16px;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.sale-item,
.raspberry {
    display: flex;
    flex-direction: column;
    width: 560px;
    text-align: left;
}

.raspberry {
    background: url('../img/raspberryback.png');
    background-color: sandybrown;
    background-position: center;
    background-repeat: repeat;
    border-radius: 16px;
}

.sale-item p {
    margin-top: 0;
    margin-left: 16px;
    margin-right: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.chokolate-title {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

.sale-item, 
.chocolate {
    display: flex;
    flex-direction: column;
    width: 560px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.chocolate {
    background: url('../img/chocolateback.png');
    background-color: sandybrown;
    background-position: center;
    background-repeat: repeat;
    border-radius: 16px;
}

.button-sale-chokolate{
    display: flex;
    margin-left: auto;
    margin-right: 22px;
    margin-bottom: 22px;
    padding: 16px 22px 15px 22px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    color: var(--basic-white);
}

.button-sale-raspberry{
    display: flex;
    margin-left: auto;
    margin-right: 22px;
    margin-bottom: 22px;
    padding: 15px 22px 16px 22px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    color: var(--basic-white);
}

.hits {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
}

.hits-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.icecream-list-catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.icecream-item {
    position: relative;
    width: 25%;
    width: 267px;
    height: 267px;
}

.icecream-text {
    display: flex;
    text-align: center;
    width: 267px;
}

.icecream-cash {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.pagination li {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.pagination li:last-child{
    margin-left: 6px;
}

.pagination ul {
    display: flex;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 97px;
    margin-left: 20px;
    margin-bottom: 40px;
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    background: url('../img/pattern2.png');
    background-color: sandybrown;
    background-position: top center;
    background-repeat: repeat;
    border-radius: 16px;
    color: var(--basic-black);
}

.features-title {
    text-align: left;
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 131px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 75px;
    margin-right: 23px;
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-black);
    text-align: left;
}

.features-item {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: auto;
}

.one {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.two {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.three {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.four {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.features-item.one::before {
    top: 0px;
    left: 0px;
    content: "";
    width: 16px;
    height: 32px;
    background-image: url('../img/Мороженое.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-item.two::before {
    top: 0px;
    left: 0px;
    content: "";
    width: 16px;
    height: 27px;
    background-image: url('../img/Листик.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-item.three::before {
    top: 0px;
    left: 0px;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url('../img/Корова.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-item.four::before {
    top: 0px;
    left: 0px;
    content: "";
    width: 16px;
    height: 27px;
    background-image: url('../img/Градусник.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.container-news-mail {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    outline-offset: -5px;
}

.news {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    text-align: left;
    background: url('../img/strawberryback.png');
    background-color: sandybrown;
    background-position: top center;
    background-repeat: no-repeat;
    color: var(--basic-black);
    border-radius: 16px;
}

.news-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-left: 20px;
    margin-top: 23px;
    margin-bottom: 0;
}

.news-item {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 253px;
    color: var(--basic-black);
    text-decoration: underline;
}

.mailing {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    margin-left: 32px;
    align-items: center;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    background: url('../img/mailingback.png');
    background-color: sandybrown;
    background-position: bottom center;
    background-repeat: no-repeat;
    border-radius: 16px;
    background: var(--basic-light);
    color: var(--basic-black);
}

.mailing p {
    margin-left: 20px;
    margin-top: 29px;
    margin-right: 16px;
    margin-bottom: 47px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.mailing input {
    width: 368px;
    height: 44px;
    margin-left: 20px;
    margin-bottom: 35px;
    background: var(--basic-white);
    border: 1px solid rgba(178, 178, 178, 0.52);
    box-sizing: border-box;
    border-radius: 6px;
}
    
.button-mailing {
    display: inline-block;
    width: 130px;
    padding: 14px 19px 13px 19px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843, #e74a35);
    border-radius: 70px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
    margin-bottom: 36px;
}

.contacts {
    display: flex;
    width: 1200px;
    font-size: 14px;
    line-height: 20px;
    background: url('../img/mapsback.png');
    background-color: sandybrown;
    background-position: bottom center;
    background-repeat: no-repeat;
    color: var(--basic-black);
    border-radius: 16px;
}

.adress-one, .adress-three {
    align-items: center;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-left: 25px;
    margin-top: 32px;
}

.adress-one {
    margin-bottom: 0;
}


.adress-three {
    margin-top: 30px;
}

.adress-too, .contacts-phone {
    align-items: center;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-left: 25px;
    color: var(--basic-black);
}

.form-contacts {
    display: flex;
    width: 303px;
    flex-wrap: wrap;
    margin-left: 870px;
    margin-right: 27px;
    margin-top: 62px;
    margin-bottom: 62px;
    background: #FEFEFE;
    border-radius: 16px;
}

.link-form {
    display: inline-block;
    width: 253px;
    padding: 14px 19px 13px 19px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 31px;
    margin-bottom: 31px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843, #e74a35);
    border-radius: 70px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
    margin-bottom: 36px;
}

.page-footer { 
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    font-size: 13px;
    line-height: 18px;
}

.info-link {
    color: var(--basic-white);
    text-decoration: none;
}

.footer-copyright {
    color: var(--basic-white);
    text-decoration: none;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 164px;
    margin-top: 36px;
    margin-bottom: 35px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.8);
    color: inherit;
    border-radius: 50%;
  }

.footer-social {
    display: flex;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}