@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto.woff2') format('woff2'),
    url('../fonts/roboto.woff') format('woff'),
    }

    @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'),
    url('../fonts/robotobold.woff2') format('woff2'),
    url('../fonts/robotobold.woff') format('woff'),
    }

:root {
   --basic-white: #ffffff;
   --basic-black: #323232;
   --basic-grey: #849d8f;
   --basic-light: #f8f7f4;
   --basic-extra-light: #fefefe;
   --basic-extra-white: #fbfcfb;
}

.list-styles-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--basic-white);
    text-decoration: none;
}

.page {
    width: 100%;
    height: 100%;
}

.main-header {
    margin-bottom: 70px;
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
}

.page-header {
  position: relative;
  box-sizing: border-box;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.page-header-logo {
  margin-top: 9px;
}

.site-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 650px;
  margin: 23px auto 0 9px;

  font-weight: 700;
  line-height: 18px;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #323232;

  outline: none;
}

.site-nav-item {
  position: relative;

  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.site-nav-item:target {
  top: -23px;
  padding-top: 23px;
}

.site-nav-item a {
  text-decoration: none;
}

.site-nav-item > a {
  display: inline-block;
  margin: 9px 14px 0;
  padding-bottom: 3px;

  line-height: 12px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-nav-item:hover > a,
.site-nav-item > a:focus,
.site-nav-item > a:active,
.site-nav-current > a,
.site-nav-item:target > a {
  margin: 0;
  padding: 9px 14px 11px;

  color: #323232;

  background-color: #f7f6f3;
  border: none;
  border-radius: 24px;
}

.site-nav-item > a:active,
.site-nav-item:target > a {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.site-nav-current > a,
.site-nav-current > a:hover {
  color: #ffffff;

  background-color: #d07058;
}

.site-nav-item > a:hover::after {
  content: "";

  position: absolute;
  bottom: -5px;
  left: 0;

  width: 100%;
  height: 5px;
}

.site-nav-submenu {
  position: absolute;
  top: -100000px;
  left: -6px;
  z-index: 100;
  overflow: hidden;

  white-space: nowrap;

  background-color: #f7f6f3;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.site-nav-item:hover .site-nav-submenu,
.site-nav-submenu.js-drop-down {
  top: 37px;
}

.site-nav-item:target .site-nav-submenu {
  top: 60px;
}

.site-nav-submenu-item a {
  display: block;
  padding: 9px 20px 7px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.site-nav-submenu-item:last-child a {
  padding: 8px 21px 12px;
}

.site-nav-submenu-item a:hover {
  background-color: #fbded7;
}

.site-nav-submenu-item a:focus,
.site-nav-submenu-item a:active {
  background-color: #f6b5a5;
}

.site-nav-submenu-current a,
.site-nav-submenu-current a:hover {
  color: #ffffff;

  background-color: #d07058;
}

.site-nav-submenu-lead a {
  position: relative;
  padding: 11px 21px 12px;

  font-weight: 700;
}

.site-nav-submenu-lead a::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 6px;

  height: 1px;
  width: calc(100% - 12px);

  background-color: rgba(53, 53, 53, 0.2);
}

.user-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-right: -15px;
}

.user-nav li {
  position: relative;

  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 23px 0 0 10px;
  padding: 0;
}

.user-nav li:target {
  top: -23px;

  padding-top: 23px;
}

.user-nav-appear {
  position: absolute;
  top: 37px;
  right: 0;

  display: none;

  background-color: rgb(248, 247, 244);
  border-radius: 6px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  pointer-events: auto;
}

.user-nav-appear::before {
  content: "";

  position: absolute;
  top: -5px;
  left: 0;

  width: 100%;
  height: 5px;
}

.user-nav-btn {
  display: inline-block;
  padding: 8px 16px;
  box-sizing: border-box;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-family: inherit;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 16px;
  outline: none;
}

.user-nav-btn.search {
  height: 32px;
}

.user-nav-btn:not(.no-href):hover,
.user-nav-btn:focus,
.user-nav-btn.basket-full {
  color: #323232;

  background-color: #f8f7f4;
}

.user-nav-search:target .user-nav-btn,
.user-nav-login:target .user-nav-btn,
.user-nav-basket:target .user-nav-btn {
  color: #323232;

  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.user-nav-search:target .user-nav-appear,
.user-nav-login:target .user-nav-appear,
.user-nav-basket:target .user-nav-appear {
  top: 60px;
  z-index: 99;

  display: block;
}

.user-nav .field {
  font-size: 14px;
}

.user-nav-search .user-nav-btn {
  padding: 7px 7px 4px 8px;

  border-radius: 50%;
}

.user-nav-search .user-nav-btn::before {
  content: url('../img/svg/search.svg');

  display: inline-block;
  width: 17px;
  height: 17px;
}

.user-nav-search .user-nav-btn:hover::before,
.user-nav-search .user-nav-btn:focus::before,
.user-nav-search:target .user-nav-btn::before {
  content: url('../img/svg/search-hover.svg');
}

.user-nav-search form {
  width: 343px;
  padding: 20px 16px;
}

.user-nav-search:hover .user-nav-appear {
  z-index: 100;

  display: block;
}

.user-nav-search .form-group {
  margin: 0;
}

.user-nav-search .btn {
  margin-top: 20px;
}

.user-nav-login .user-nav-btn {
  position: relative;

  padding-left: 44px;
}

.user-nav-login .user-nav-btn::before {
  content: url('../img/svg/exit.svg');

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 19px;
}

.user-nav-login .user-nav-btn:hover::before,
.user-nav-login .user-nav-btn:focus::before,
.user-nav-login:target .user-nav-btn::before {
  content: url('../img/svg/exit-hover.svg');
}

.user-nav-login form {
  width: 277px;
  padding: 20px 17px;
}

.user-nav-login:hover .user-nav-appear,
.user-nav-appear.js-revalid {
  z-index: 100;

  display: block;
}

.login-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-control p {
  margin: 0 0 0 auto;
}

.login-services a {
  display: table;

  font-size: 13px;
  line-height: 13px;
  color: #323232;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login-services a:first-child {
  margin-bottom: 7px;
}

.login-services a:hover,
.login-services a:focus,
.login-services a:active {
  color: #e84d37;

  border-bottom: 1px solid rgba(236, 89, 60, 0.3);
}

.user-nav-basket .user-nav-btn {
  position: relative;

  min-width: 117px;
  padding-left: 45px;
}

.user-nav-basket .user-nav-btn::before {
  content: url('../img/svg/basket.svg');

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;
}

.user-nav-basket .basket-full::before,
.user-nav-basket .basket-full:hover::before,
.user-nav-basket:target .basket-full::before {
  content: url('../img/svg/basket-full.svg');
}

.page-header-info {
  position: absolute;
  top: 58px;
  right: 27px;
  z-index: 1;

  font-weight: 700;
}

.work-mode {
  margin-bottom: 8px;
  margin-top: 20px;

  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.page-header-info .tel {
  margin-right: -1px;
  font-size: 22px;
  line-height: 22px;
  white-space: nowrap;
}

.page-header-info .tel:hover,
.page-header-info .tel:focus,
.page-header-info .tel:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.basket {
  width: 540px;
  padding: 20px 14px 22px;

  background-color: #f8f7f4;
  border-radius: 6px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-nav-basket:hover .basket {
  z-index: 100;

  display: block;
}

.user-nav-basket:target .basket {
  z-index: 99;

  display: block;
}

.basket-table {
  width: 100%;

  font-size: 13px;
  line-height: 16px;
  color: #323232;

  border-collapse: collapse;
  border-spacing: 0;
}

.basket-table td {
  padding: 8px 10px 16px 0;
  vertical-align: top;
}

.basket-table .basket-delete {
  width: 21px;
  padding: 7px 15px 0 1px;
}

.basket-delete button {
  padding: 0;

  background-color: transparent;
  border: none;
}

.basket-delete button::before {
  content: url("../img/icons/close.svg");

  display: inline-block;
  width: 11px;
  height: 11px;

  border-radius: 50%;
}

.basket-table .basket-pic {
  padding: 0 14px 15px 0;
}

.basket-name {
  width: 240px;
}

.basket-table .basket-price {
  width: 120px;
  padding-left: 5px;
}

.basket-price span {
  color: #999999;
}

.basket-table .basket-value {
  padding-left: 10px;
}

.basket-table .basket-cost {
  padding: 15px 0 14px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;

  border-top: 1px solid #cacac7;
}

.basket .btn {
  display: table;
  margin-left: auto;
  padding: 8px 15px 12px;
}



.page-body {
    min-height: 100%;
    font-family: Roboto, Arial, sans-serif;
    font-weight: normal;
    margin-left: 27px;
    margin-right: 27px;
    margin: 0;
    background: var(--basic-grey);
    color: var(--basic-white);
}

.page-title-catalog {
    display: flex;
    align-items: flex-end;
    font-size: 35px;
    line-height: 41px;
}

/*header flex*/
.main-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.container {
    width: 1146px;
    margin-top: 9px;
}

.container-catalog {
    width: 1146px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-navigation-wrapper {
    display: flex;
}

.user-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 23px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

   /* outline: 5px solid #ff0000;*/
}

.user-navigation .login-link {
    padding-left: 50px;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    position: relative;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    width: 357px;
    margin-left: 24px;
    margin-right: 367px;
    margin-top: 23px;
    font-weight: 700;

   /* outline: 5px solid #ff0000;*/
  }

.site-navigation a,
.user-navigation a {
    color: var(--basic-white);
    display: block;
}

.main-header-logo {
    display: flex;
    margin-left: 27px;
    margin-top: 9px;
    /*background: var(--basic-extra-white);*/
}

.main-header-bar {
    background-color: var(--basic-grey);
}


.site-navigation {
    margin-top: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.site-navigation-mini {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    margin-top: 28px;
    margin-bottom: 13px;
    margin-left: 27px;
}

.site-navigation-mini a {
    padding-right: 22px;
}

.login-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.login-link::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-link.exit::before {
    width: 20px;
    height: 19px;
    background-image: url('../img/svg/exit.svg');
}


.login-link.basket::before {
    width: 20px;
    height: 19px;
    background-image: url('../img/svg/basket.svg');
}

.login-link.search::before {
    width: 16px;
    height: 16px;
    background-image: url('../img/svg/search.svg');
}

.user-basket {
    margin-left: 10px;
}


.work-time {
    text-align: right;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-top: 20px;
    margin-right: 27px;
}

.header-contacts-phone-main {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
}

.main-title-picture {
    text-align: center;
}

.slider {
    position: relative;
    padding-top: 321px;
    text-align: center;
    color: #ffffff;
    background-image: url('../img/icecream1.png');
    background-size: 372px 584px;
    background-position: left 277px top 27px;
    background-repeat: no-repeat;

}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
}

.button-main {
    display: inline-block;
    padding: 9px 23px;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843, #e74a35);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
    margin-bottom: 41px;
}

.button-main:hover {
    background: linear-gradient(to bottom, #f58669, #ec6f5e);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button-main:active {
    background: linear-gradient(to bottom, #d84732, #e1613e);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
    position: absolute;
    bottom: 63px;
    left: 0;
    z-index: 20;
    display: flex;
    width: 67px;
    justify-content: space-between;
    margin-left: 27px;
}

.slide {
    display: none;
}

.slide-current {
    display: block;
}

.slider-controls button {
    padding: 0;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.site-wrapper {
    background-image: url('../img/icecream2.png');
    background-size: 333px 519px;
    background-position: right 276px top 71px;
    background-repeat: no-repeat;
}

.slider-controls .current {
    background-color: #ffffff;
}

.page-title-catalog {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 27px;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 869px;
    margin-left: 27px;
    margin-top: 29px;
}

.filter {
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 7px;
}

.filter-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
}

.filter-list-sorting {
    display: flex;
    align-items: center;
    padding-left: 16px;
    width: 196px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    margin-left: -84px;
    margin-top: 20px;
}

.filter-sorting {
    width: 155px;
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    outline: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.filter-title-cash {
    margin-left: 31px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 7px;
}

.filter-title-fat {
    margin-left: 31px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 7px;
}

.filter-title-fillers {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-right: 761px;
    margin-top: -70px;
    margin-bottom: 0px;
    padding-bottom: 7px;
    margin-left: 16px;

}

.cash-range {
    margin-top: 20px;
    margin-bottom: 74px;
    margin-left: -183px;
}

.range-controls {
    position: relative;
    width: 218px;
    height: 36px;
    padding-top: 18px;
    padding-right: 21px;
    padding-left: 21px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.range-controls .scale {
    width: 176px;
    height: 0;
    border: 2px solid rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
    width: 106px;
    margin-left: 13px;
    height: 0;
    border: 2px solid #F8F7F4;
 }

.range-controls .toggle {
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 34px;
}

.range-controls .toggle-max {
    left: 132px;
}

.filter-list-fat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 425px;
    height: 36px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-right: -290px;
    margin-top: 20px;
    margin-left: -85px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    padding-left: 33px;
    margin-left: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.filter-option {
    padding-top: 13px;
    padding-bottom: 12px;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    background-image: url('../img/svg/radio-off.svg');
    border-radius: 50%;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 7.92px;
    height: 7.92px;
    background-image: url('../img/svg/radio-on.svg');
    border-radius: 50%;
    padding-left: 14px;
    padding-top: 7px;
}

.filter-list-fillers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 711px;
    height: 36px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-top: -48px;
}

.fillers-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    padding-left: 33px;
    margin-left: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.fillers-option {
    padding-top: 13px;
    padding-bottom: 10px;
}

.filter-input-checkbox-too + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: url('../img/svg/checkbox-off.svg');
}

.filter-input-checkbox-too:checked + label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    width: 24px;
    height: 20px;
    background-image: url('../img/svg/checkbox-on.svg');
    padding-right: 8px;
    padding-top: 8px;
}

.filter-button {
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    padding: 14px 29px 9px 29px;
    width: 144px;
    height: 36px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: -48px;
    margin-left: 14px;
}

.button {
  width: 164px;
  border-radius: 70px;
  font-weight: 700;
  font-size: 32px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.sale-list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    margin-left: 27px;
}

.raspberry-title {
    text-align: left;
    margin-left: 16px;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.sale-item,
.raspberry {
    display: flex;
    flex-direction: column;
    width: 560px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.raspberry {
    background: url('../img/raspberryback.png');
    background-color: sandybrown;
    background-position: center;
    background-repeat: repeat;
    border-radius: 16px;
}

.sale-item p {
    margin-top: 0;
    margin-left: 16px;
    margin-bottom: 42px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.chokolate-title {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

.sale-item,
.chocolate {
    display: flex;
    flex-direction: column;
    width: 560px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.chocolate {
    background: url('../img/chocolateback.png');
    background-color: sandybrown;
    background-position: center;
    background-repeat: repeat;
    border-radius: 16px;
    margin-left: 26px;
}

.button-sale-chokolate{
    display: flex;
    margin-left: auto;
    margin-right: 22px;
    margin-bottom: 22px;
    padding: 16px 22px 15px 22px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    color: var(--basic-white);
}

.button-sale-raspberry{
    display: flex;
    margin-left: auto;
    margin-right: 22px;
    margin-bottom: 22px;
    padding: 15px 22px 16px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    color: var(--basic-white);
}

.hits {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-top: 29px;
    margin-bottom: 0;
    margin-left: 27px;
}

.hits-list {
    display: flex;
    text-align: center;
}

.icecream-list-catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 40px;
}

.icecream-item {
    position: relative;
    width: 25%;
    width: 267px;
    margin-left: 26px;
}

.icecream-item:first-child {
    margin-left: 0;
}

.icecream-item-home::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    background-image: url('../img/svg/hitt.svg');
    margin-right: 206px;
    margin-bottom: 206px;

}

.icecream-title {
    display: flex;
    text-align: center;
    margin-top: 23px;
    width: 267px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.icecream-cash {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    margin-top: -63px;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin-top: 105px;
    margin-bottom: 48px;
}

.pagination li {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.pagination li:last-child{
    margin-left: 6px;
}

.pagination ul {
    display: flex;
}

.features {
    display: flex;
    flex-wrap: wrap;
    width: 1146px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 27px;
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    background: url('../img/pattern2.png');
    background-color: sandybrown;
    background-position: top center;
    background-repeat: repeat;
    border-radius: 16px;
    color: var(--basic-black);
}

.features-title {
    text-align: left;
    margin-top: 24px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 23px;
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-black);
    text-align: left;
}

.features-item {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: auto;
    margin-left: 0;
}

.one {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 75px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.two {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 75px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.three {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 81px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: -10px;
}

.four {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 82px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: -10px;
    margin-bottom: 36px;
}

.features-item::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-item.one::before {
    width: 49px;
    height: 49px;
    background-image: url('../img/svg/icecream-mini.svg');
    margin-left: 20px;
    margin-top: 7px;
}

.features-item.three::before {
    width: 49px;
    height: 49px;
    background-image: url('../img/svg/leaf.svg');
    margin-left: 20px;
    margin-top: 6px;
}

.features-item.two::before {
    width: 49px;
    height: 49px;
    background-image: url('../img/svg/cow.svg');
    margin-left: 26px;
    margin-right: 6px;
    margin-top: 7px;
}

.features-item.four::before {
    width: 49px;
    height: 49px;
    background-image: url('../img/svg/thermometer.svg');
    margin-left: 27px;
    margin-right: 6px;
    margin-top: 6px;
}

.container-news-mail {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 27px;
    outline-offset: -5px;
}

.news {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 220px;
    text-align: left;
    background: url('../img/strawberryback.png');
    background-color: var(--basic-extra-light);
    background-position: top center bottom;
    background-repeat: no-repeat;
    color: var(--basic-black);
    border-radius: 16px;
}

.news-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-left: 20px;
    margin-top: 23px;
    margin-bottom: 0;
}

.news-item {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-left: 20px;
    margin-bottom: 94px;
    color: var(--basic-black);
    text-decoration: underline;
}

.mailing {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 220px;
    margin-left: 26px;
    align-items: center;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    background: url('../img/mailingback.png');
    background-color: sandybrown;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    background: var(--basic-light);
    color: var(--basic-black);
}

.mailing p {
    align-items: center;
    margin-left: 26px;
    margin-top: 29px;
    margin-right: 16px;
    margin-bottom: 35px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.mailing input {
    width: 368px;
    height: 44px;
    margin-left: 26px;
    margin-bottom: 35px;
    background: var(--basic-white);
    border: 1px solid rgba(178, 178, 178, 0.52);
    box-sizing: border-box;
    border-radius: 6px;
}

.button-mailing {
    display: inline-block;
    width: 130px;
    padding: 14px 19px 13px 19px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843, #e74a35);
    border-radius: 70px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
    margin-bottom: 36px;
}

.contacts {
    display: flex;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: var(--basic-black);
    border-radius: 16px;
}

.adress-one, .adress-three {
    align-items: center;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-left: 25px;
    margin-top: 32px;
}

.adress-one {
    margin-bottom: 0;
}


.adress-three {
    margin-top: 20px;
    margin-bottom: 0;
}

.adress-too, .contacts-phone {
    align-items: center;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-left: 25px;
    color: var(--basic-black);
}

.adress-too {
    margin-bottom: 0;
}

.contacts-phone {
    margin-left: 0;
    margin-top: 11px;
    margin-bottom: 8px;
}

.form-contacts {
    display: flex;
    width: 303px;
    flex-wrap: wrap;
    margin-left: -330px;
    margin-right: 27px;
    margin-top: 62px;
    margin-bottom: 62px;
    background: #FEFEFE;
    border-radius: 16px;
}

.link-form {
    display: inline-block;
    width: 253px;
    padding: 14px 19px 13px 19px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 31px;
    margin-bottom: 31px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843, #e74a35);
    border-radius: 70px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 18px;
}

.info-link {
    color: var(--basic-white);
    text-decoration: none;
    padding-bottom: 11px;
}

.left {
    padding-left: 7px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
}

.left-too {
    margin-left: 32px;
}

.right {
    margin-left: 22px;
}

.right-too {
    margin-left: 49px;
}

.footer-copyright {
    color: var(--basic-white);
    text-decoration: none;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 164px;
    margin-top: 36px;
    margin-bottom: 35px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: inherit;
    border-radius: 50%;
  }

.footer-social {
    display: flex;
    margin-left: 29px;
    margin-top: -10px;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 327px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    margin-top: -6px;
    margin-left: 0;
}

.footer-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 190px;
    margin-right: 27px;
}

.footer-copyright {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 26px;
    margin-top: 0;
}

/*popup

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #E5E5E5;
    top: 0;
    left: 0;
}

.popup-phone {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    position: relative;
    max-width: 477px;
    background: #F8F7F4;
    border-radius: 6px;
}

.popup-close {
    position: absolute;
    width: 18px;
    height: 17px;
    right: 16px;
    top: 15px;
}

.title-popup {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-left: 23px;
    margin-top: 20px;
    margin-bottom: 0;
}

.name {
    width: 267px;
    height: 44px;
    margin-top: 26px;
    margin-left: 24px;
    background: #FFFFFF;
    border: 1px solid rgba(178, 178, 178, 0.52);
    box-sizing: border-box;
    border-radius: 4px;
}

.email {
    width: 267px;
    height: 44px;
    margin-top: 20px;
    margin-left: 24px;
    background: #FFFFFF;
    border: 1px solid rgba(178, 178, 178, 0.52);
    box-sizing: border-box;
    border-radius: 4px;
}

.text {
    width: 428px;
    height: 154px;
    background: #FFFFFF;
    border: 1px solid rgba(178, 178, 178, 0.52);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 24px;
    margin-bottom: 25px;
}

.button-popup {
    width: 144px;
    height: 44px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    margin-left: 312px;
    margin-bottom: 27px;
    color: #FFFFFF;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
}
*/
/*popup-exit*/
/*
.popup-exit {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content-exit {
    width: 277px;
    height: 214px;
    background: #F8F7F4;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

.email-exit {
    width: 241px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D3D3D2;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 19px;
}

.password-exit {
    width: 241px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D3D3D2;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 19px;
}

.button-popup-exit {
    width: 103px;
    height: 44px;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
    border-radius: 26px;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    margin-top: 20px;
    margin-left: 19px;
}

.password-save {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #323232;
    margin-right: 34px;
    margin-left: 20px;
    margin-top: 25px;
}

.new-user {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #323232;
    margin-left: 142px;
    margin-top: 9px;
    margin-bottom: 28px;
}
*/
/*popup-basket*/
/*
.popup-basket {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content-basket {
    width: 539px;
    height: 242px;
    background: #F8F7F4;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

.popup-li-one {
    display: flex;
    align-items: center;
}

.hit-one-basket {
    margin-left: 21px;
    margin-top: 20px;
}

.icecream-mini-basket {
    margin-top: 20px;
    margin-left: 9px;
}

.icecream-name {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin-top: 31px;
    margin-left: 13px;
}

.icecream-cash-basket {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin-left: 31px;
    margin-top: 31px;
}

.icecream-buy {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin-left: 26px;
    margin-top: 31px;
}

.hit-three-basket {
    margin-top: 43px;
    margin-left: 21px;
}

.popup-basket-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.icecream-toomini-basket {
    margin-top: 20px;
    margin-left: 9px;
}

.icecream-name-too {
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
    margin-left: 13px;
}

.line {
    width: 510px;
    border: 1px solid #CACAC7;
}

.end-cash {
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    margin-left: 415px;
    margin-top: 148px;
}

.button-popup-basket {
    width: 172px;
    height: 44px;
    align-items: center;
    margin-left: 353px;
    margin-top: 18px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
    border-radius: 26px;
}

*/
