@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); 
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), 
         url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), 
         url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); 
  }
 
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); 
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), 
         url('../fonts/roboto-v20-latin_cyrillic-700.ttf') format('truetype'), 
         url('../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg'); 
  }

:root {
   --basic-white: #ffffff;
   --basic-black: #323232;
   --basic-grey: #849d8f;
   --basic-light: #f8f7f4;
   --basic-extra-light: #fefefe;
   --basic-extra-white: #fbfcfb;
}

.page {
    height: 100%;
}

.main-header {
    margin-bottom: 70px;
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
}

.page-body { 
    min-height: 100%;
    font-family: Roboto;
    font-weight: normal;
    background: var(--basic-grey);
    color: var(--basic-white);
}

.page-body-catalog {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}

.main-header{
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
    width: 1146px;

}

.user-navigation{
    margin-left: auto;
}

.site-navigation {
    width: 357px;
    margin-left: 24px;
  }

.main-header-logo {
  /*background: var(--basic-extra-white);*/
}

.main-header-bar {
    background-color: var(--basic-grey);
}


.site-navigation {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;  
}

.site-navigation-mini {
    font-size: 14px;
    line-height: 16px;
}

.login-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.work-time {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.header-contacts-phone-main {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
}

.container
.page-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}

.page-title-catalog {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

.filter {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.filter-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
}

.button {
  font-weight: 700;
  font-size: 32px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.raspberry-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

.sale-item-raspberry {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.chokolate-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

.sale-items-chocolate {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.hits {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.pagination {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.features {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    /****Picture****
    background: url();****/
    color: var(--basic-black);
    outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.features-list {
    list-style: none;
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-black);
    text-align: center;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

.news {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /****Picture****
    background: url();****/
    color: var(--basic-black);
}

.news-item {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-black);
}

.mailing {
    font-size: 16px;
    line-height: 22px;
    background: var(--basic-light);
    color: var(--basic-black);
}

.contacts {
    font-size: 14px;
    line-height: 20px;
    background: var(--basic-extra-light);
    color: var(--basic-black);
}

.page-footer { 
    font-size: 13px;
    line-height: 18px;
}

.footer-social {
    background: rgba(255, 255, 255, 0.8);
}